body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: white;
  padding: 40px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #084298;
}

nav {
  background-color: #222;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}


.hero {
  background: linear-gradient(135deg, #0d6efd, #084298);
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 25px;
  background: white;
  color: #0d6efd;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}


.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  background: #f8f9fa;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project {
  background: #ffffff;
  padding: 20px;
  border-left: 5px solid #0d6efd;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

